:root {
  --first-color:#FFFFFF;
  --second-color: #FFFFFF;
  --error: #ff0000;
  --primary-text: #000000;
  --base-spacing: 8px;
  --border-primary: solid #000000 6px;
  --backgroud-color: #009280;
}

.search-box{
  Position: absolute;
  Top: 50%;
  Left: 50%;
  Height: 40px;
  Border-radius: 40px;
  Padding: 10px;
}

.search-box:hover > .search-txt{
  width: 204px;
  padding:  0 6px;
}

.search-box:hover > .search-btn{
  background: white;
}

.search-btn{
  Color: #FFFFF;
  Float: right;
  Width: 40px;
  Height: 40px;
  Border-radius: 50%;
  Display: flex;
  Justify-content: center;
  Align-items: center;
}

.search-txt{
  Border: none;
  Background: none;
  Outline: none;
  Float: left;
  Padding: 0;
  Color: white;
  Font-size: 16px;
  Transition: 0.4s;
  Line-height: 40px;
  Width: 0px
}
